.btn {
    width: 14.14rem;
    height: 3.93rem;
    border-radius: 11.17px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 22.8px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    /* O '&' diz: "Quando o botão TIVER também essa classe..." */
    &.btn-green {
        background-color: #00745A;
        color: #FFFFFF;
    }

    &.btn-white {
        background-color: #FFFFFF;
        color: #00745A;
        border: 2px solid #00745A; /* Adicionei a grossura e o estilo da borda */
    }

    &.btn-gray {
        background-color: #E5E5E5;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        padding: 0.5rem 1.2rem;
        font-size: 0.95rem;
        font-weight: 400;
    }

    .btn-icon {
        width: 1.2rem;
        height: 1.2rem;
        object-fit: contain;
    }
}