.card-white {
    
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    max-width: 380px;
    width: 100%;
    padding: 46px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent; // na imagem parece fundo igual à section
    min-height: 130px;

    .title {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: 1.875rem;
        color: #FFFFFF;
        margin-bottom: 15px; // Espaço entre título e texto
    }

    .description {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 1.125rem;
        color: #FFFFFF;
        line-height: 1.4;   // Melhora a leitura
    }
}